body {
    font-family: 'Poppins', sans-serif;
    background: #000;
    color: #fff;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
    color: #ff3b3b;
    letter-spacing: 1px;
}

form {
    background: rgba(20, 20, 20, 0.95);
    padding: 20px;
    max-width: 420px;
    margin: 25px auto;
    border-radius: 10px;
    border: 1px solid #ff3b3b;
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.3);
}

form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    background: #111;
    color: #fff;
    border: 1px solid #ff3b3b;
    border-radius: 5px;
}

form input::placeholder {
    color: #999;
}

form button {
    width: 100%;
    padding: 12px;
    background: #ff3b3b;
    border: none;
    color: white;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

form button:hover {
    background: #e60000;
    box-shadow: 0 0 10px #ff3b3b;
}

#search-input {
    width: 50%;
    display: block;
    margin: 20px auto;
    padding: 12px;
    background: #111;
    color: #fff;
    border: 1px solid #ff3b3b;
    border-radius: 5px;
}

#movie-list {
    max-width: 800px;
    margin: 20px auto;
}

.movie-item {
    background: #111;
    border: 1px solid #ff3b3b;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.25s ease;
}

.movie-item:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
}

.movie-item button {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    margin-left: 8px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

.edit-btn {
    background: #ff3b3b;
}

.edit-btn:hover {
    background: #e60000;
    box-shadow: 0 0 8px #ff3b3b;
}

.delete-btn {
    background: #660000;
}

.delete-btn:hover {
    background: #990000;
    box-shadow: 0 0 8px #ff3b3b;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #111;
    border: 1px solid #ff3b3b;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.modal input {
    width: 100%;
    padding: 10px;
    background: #000;
    color: #fff;
    border: 1px solid #ff3b3b;
    margin-top: 10px;
    border-radius: 5px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#save-edit {
    background: #ff3b3b;
    color: #fff;
}

#save-edit:hover {
    background: #d10000;
}

#cancel-edit {
    background: #444;
    color: white;
}

#cancel-edit:hover {
    background: #666;
}
