body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
    color: #e3e3e3;
}

header {
    background: #8B0000;
    color: #fff;
    text-align: center;
    padding: 25px 10px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #b30000;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 12px;
    margin: 0;
    background: #1a0000;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #ff1a1a;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

nav ul li a:hover {
    color: #fff;
    text-shadow: 0 0 10px #ff0000;
}

h1, h3, h4 {
    color: #ff1a1a;
}
h1 {
    color: white;
}


main {
    padding: 20px;
}

section, article {
    background: #0d0d0d;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 6px;
}

#contacts {
    background: #1a0000;
}

footer {
    background: #8B0000;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
}

footer a {
    color: #ffd6d6;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
    text-shadow: 0 0 10px red;
}
